[Unit]
Description=ReVoiceChat Core Server

[Service]
Type=simple
User=[YOUR USER]
Group=[YOUR USER GROUP]

WorkingDirectory=[PATH TO YOUR DIR]
ExecStart=/usr/bin/java -Xmx2G -Xms1G -jar [PATH TO YOUR DIR]/app/target/revoicechat.jar

[Install]
WantedBy=multi-user.target
