[Unit]
Description=ReVoiceChat Core Server

[Service]
Type=simple
User=[YOUR USER]
Group=[YOUR USER GROUP]

WorkingDirectory=/srv/rvc/ReVoiceChat-CoreServer
ExecStart=/usr/bin/java -Xmx2G -Xms1G -jar /srv/rvc/ReVoiceChat-CoreServer/app/target/quarkus-app/quarkus-run.jar

[Install]
WantedBy=multi-user.target
