spring:
  datasource:
    url: jdbc:h2:mem:mydb
    username: sa
    password: password
    driverClassName: org.h2.Driver
logging:
  level:
    fr.revoicechat: debug
    logging.level.org.hibernate.SQL: debug
    logging.level.org.hibernate.type.descriptor.sql: debug
    org.springframework.security.web.FilterChainProxy: DEBUG